@import 'base';
@import 'components';
@import 'header';
@import 'preview';
@import 'searchResults';
@import 'recipe';
@import 'upload';

// Added CSS

.pagination {
  position: relative;
}

.text--page-num {
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cart-item {
  padding: 6px 24px;
  border-bottom: 1px solid #615551;
}

.cart-item:last-of-type {
  margin-bottom: 0;
}

.cart-list {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // gap: 48px;
  list-style: none;
  overflow-y: scroll;
  max-height: 50rem;
}

.cart-title {
  font-size: 18px;
}

.cart-quantity {
  font-size: 16px;
}
